/* for desktop */

*{
    box-sizing: border-box;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.header{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 130px;
    padding-left: 4%;
    padding-top: 20px;
}

.header .logo{
    width: 160px;
}

/* body start */

.background{
    width: 100%;
    height: 82%;
    background-image: url(../media/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.container{
    width: 100%;
    height: 82%;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
}

.container .div{
    margin-left: 30%;
}

.container .title{
    font-family: Arial;
    color: rgb(255,255,255);
    margin-top: 150px;
    margin-left: 15%;
    font-weight: 700;
}

.container .pragraph{
    color: rgb(255,255,255);
    margin-top: 10px;
}

.container .pragraph2{
    color: rgb(255,255,255);
    margin-left: 40%;
    margin-top: 50px;
}

.container .email{
    color: rgb(0,0,0);
    border: solid 3px rgba(0,0,0,0.6);
    margin-left: 40%;
    margin-top: 8px;
    width: 340px;
    height: 40px;
    padding: 8px;
}

.container .submit{
    background-color: rgb(4,107,255);
    color: rgb(255,255,255);
    border: none;
    width: 80px;
    height: 40px;
    cursor: pointer;
}

.container .submit:hover{
    background-color: rgb(3, 95, 223);
}


/* body end */

/* for laptop */

@media only screen and (max-width: 1439px) and (min-width: 1024px) {

    .background{
        background-size: cover;
    }
    .container .div{
        margin-right: 5%;
        margin-left: 22%;
    }
    .container .title{
        margin-left: 15%;
    }
    .container .pragraph2{
        margin-right: 5%;
        margin-left: 32%;
    }
    .container .email{
        margin-left: 32%;
    }
}

/* for tablet */

@media only screen and (max-width: 1023px) and (min-width: 768px) {

    .background{
        background-size: cover;
    }
    .container .div{
        margin-left: 15%;
        margin-right: 5%;
    }
    .container .title{
        margin-left: 15%;
    }
    .container .pragraph2{
        margin-right: 5%;
        margin-left: 28%;
    }
    .container .email{
        margin-left: 28%;
    }
}

/* for mobile phone */

@media only screen and (max-width: 767px) and (min-width: 320px) {

    .background{
        background-size: cover;
    }
    .container .div{
        margin-top: 100px;
        margin-right: 5%;
        margin-left: 5%;
    }
    .container .title{
        margin-left: 20%;
        margin-top: 100px;
    }
    .container .pragraph2{
        margin-left: 5%;
        margin-right: 5%;
    }
    .container .email{
        margin-left: 5%;
        width: 90%;
    }
    .container .submit{
        margin-left: 40%;
        margin-top: 10px;
    }
}